{% extends "base.html" %}

{% block content %}
    {% if messages %}
		<div class="messages">
		{% for message in messages %}
			<div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
				{{ message }}
			</div>
		{% endfor %}
		</div>
	{% endif %}
  <div class="container mt-4">
    <h1>Список статей</h1>
    <form class="form-inline mb-3" action="{% url 'article_list' %}" method="get">
    <div class="form-group">
      <input class="form-control" type="search" name="q" value="{{ query }}" placeholder="Название статьи">
    </div>
      <button class="btn btn-info" type="submit">Поиск</button>
    </form>
  <h1>Список статей</h1>
      {% for article in articles %}
        <div class="row">
            <div class="col-4">
                <h2><a href="{% url 'show_article' id=article.id %}">{{ article.name }}</a></h2>
                <a href="{% url 'articles_update' id=article.id %}">Редактировать</a>
                <form action="{% url 'articles_destroy' id=article.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="{% url 'articles_destroy' id=article.id %}" class="btn-link">Удалить</button>
                </form>
            </div>
        </div>
        <div>{{ article.body|slice:":200" }}</div>
      {%endfor%}
{% endblock %}